.container{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px 5px hsl(0,0%,90%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    flex-direction: column;
    gap: 10px;
}
.h2{
    margin: 0px;
}