.container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    background-color: rgba(0,0,0,0.3);
}
.containers{
     position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    background-color: rgba(0,0,0,0.3);
    display: none;
}
.subcontainer{
    margin: 50px auto;
    background-color: white;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
}
.div1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
    
}
.div1 span{
    font-size: 18px;
}
.left{
    display: flex;
    align-self: stretch;
    justify-content: center;
    gap: 10px;
}
.left div{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.left p,.left h3{
    margin: 0px;
}
.left p{
    color: gray;
}
.div2{
    width: 95%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: #EFF6FF;
    padding: 10px;
    border-radius: 4px;
}
.lefts img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
}
.lefts{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.lefts div h3,.lefts div p{
 margin: 0px;
}
.lefts div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lefts p{
    color: gray;
}
.right div{
 width: 75px;
 border-radius: 14px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 25px;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.let p,.let h3{
    margin: 0px;
}
.let{
    display: flex;
    gap: 10px;
    width: 50%;
    border-radius: 4px;
    height: 70px;
    padding: 10px;
    background-color: #EFF6FF;
}
.let span{
   font-size: 18px;
    border-radius: 50%;
    background-color: #DBEAFE;
    color: #2563EB;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span1{
    font-size: 18px;
    width: 30px;
    border-radius: 4px;
    background-color: #DBEAFE;
    color: #2563EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div4 span{
   font-size: 18px;
    border-radius: 50%;
    background-color: #DBEAFE;
    color: #2563EB;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.let p{
    color: gray;
}
.let div{
    gap: 7px;
    display: flex;
    flex-direction: column;
}
.div4{
    display: flex;
    width: 95%;
    border-radius: 4px;
    gap: 10px;
    padding: 10px;
    background-color: #EFF6FF;
}
.div4 div p, .div4 div h3{
margin: 0px;
}
.div4 div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.div5{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.div5 button{
    width: 100px;
    height: 30px;
    color: white;
    font-size: 17px;
    background-color: navy;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}.div5 button:hover{
    opacity: 0.7;
}
.span{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    cursor: pointer;
}
.span:hover{
background-color: hsl(0,0%,90%);
}
.dic{
    color: gray;
}
@media(max-width:786px){
    .subcontainer{
        width: 85%;
        margin: 67px auto;
    }
}

